/*-------------------------------------------*\
    FOOTER.CSS
\*-------------------------------------------*/

footer {
    background-color: #22262a;
    height: 150px;
  }

.footer__container {
    display: inline-block;
    width: 100%;
    transform: translateY(190px);
  }
  
  .footer__container__bottom-links{
    
    margin: 20px auto;
    display: flex;
    width: 60%;
    text-transform: uppercase;
    justify-content: space-between;
  }

  .footer__container__bottom-links__item {
    text-decoration: none;
    color: #999;
    font-size: 12px;
  }

  .footer__container__bottom-links__item:hover{
    color: white;
  }

  .footer__container__image{
    width: 50px;
    margin: 10px 20%;
  }