/*-------------------------------------------*\
    DETAILS.CSS
\*-------------------------------------------*/

.content-wrapper{
    min-height: 600px;
}

.comic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    transform: translateY(160px);
    margin: 0 auto;
}

.comic-title{
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.comic-cover{
    box-shadow: 0 6px 12px 0px rgba(0,0,0,0.35);
}

.comic-description{
    font-size: 24px;
    line-height: 1.6;
}

.comic-format{
    font-size: 20px;
}

.comic-price{
    margin: 10px 0 0 0;
    font-size: 40px;
    font-weight: bold;
}