/*-------------------------------------------*\
    HOME.CSS
\*-------------------------------------------*/

.content-wrapper {
  margin: 0 auto;
  min-height: 600px;
  width: 85%;
  justify-content: center;
  transform: translateY(160px);
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.comic {
  width: 300px;
}

.comic:hover {
  cursor: pointer;
  transform: translateY(-6px);
  transition: all 200ms ease-out;
}

.comic__cover{
  box-shadow: 0 6px 12px 0px rgba(0,0,0,0.35);
}

.comic__title {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

.comic__price {
  margin: 2px 0 0 0;
  font-size: 22px;
  color: gray;
}